* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.header {
  width: 100dvw;
  background-color: #28313d;
  color: #151515;
  letter-spacing: 1px;
  font-family: Arial Sans-Serif Sans-Serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: center;
  padding: 30px 0 10px 0;
}

.header > .title {
  font-size: 4rem;
  color: #f2f3f4;
}

.header > .sub-title {
  font-size: 2rem;
  color: #d3d6d9;
}

.content {
  background-color: #13171d;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.link {
  color: #2573f6;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
